<!-- Jumbotron -->
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">ALPHA BLOG</h1>
    <p class="lead">Welcome to alpha blog, your place to share and interact with whatever you want!</p>
    <hr class="my-4">
    <p>Click on the button below to sign up!</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg mt-4" %>
  </div>
</div>
<!-- Jumbotron -->
