<!-- Footer -->
<div id="page-content">

</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy;<%= link_to "David Remiro", "https://github.com/xoyude", target: :_blank, class: "text-white" %></small>
    </div>
</footer>
<!-- Footer -->